@import "../../variables";

.Container {
  position: sticky;
  top: 0;
  left: 0;
  display: inline-block;
  transition: all 1s ease;
  width: 100px;
  height: 100vh;
  background-color: $primary-color;

  ul {
    z-index: 5;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 1rem;
    width: 200px;
    height: 200px;
  }

  & .LogoContainer {
    width: 80px;
    margin: 0 auto;

    & img {
      width: 100%;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  right: 0;
}

/*implement sliding down*/
// .my-node-enter {
//   background-color: red;
//   transition: background 300ms ease;
// }
// .my-node-enter-active {
//   background-color: red;
//   transition: background 300ms ease;
// }
// .my-node-exit {
//   background-color: red;
//   transition: background 300ms ease;
// }
// .my-node-exit-active {
//   background-color: red;
//   transition: background 300ms ease;
// }
